.modalContainer {
    position: absolute; /*para que no se mueva*/
    top: 30%;
    left: 20%;
    border-radius: 1rem;
    width: 50%;
    padding: 50px;
    background-color: darkkhaki;
    box-shadow: 0 0 20px rgb(70 68 68); /*Sombra del contenedor, efecto superpuesto*/
    display: flex;
    justify-content: center;
}

.buttonDetail {
    background-color: beige;
    border-style: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}